 

  * {
    padding: 0;
    margin:0;
    z-index: 1;

  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul {
    background-color: rgb(123, 98, 151);
    margin: 0;
  }
  
  .menu li {
    font-family: sans-serif;
    font-size: 1.25em;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px solid #888;
  }
   
  .menu a {
    text-decoration: none;
    color: rgb(80, 42, 11);
    display: block;
  }
  
.App {
  text-align: center;
  height: 100px ;
  -webkit-background-composite: border;
}

.films {
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(148, 180, 176);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
